  

//==교체==
main(class="wrap-container page-sub-intro")
  section(class="sect intro-sect-cont01")
    div(class="sect-container")
      div(class="sect-content")
        img(src=`${imgPath}/sub/intro/page_intro_cont01_m.jpg`, alt="이미지" class="pc-hidden")

  section(class="sect intro-sect-cont02")
    div(class="sect-container")
      div(class="sect-content")
        img(src=`${imgPath}/sub/intro/page_intro_cont02.jpg`, alt="이미지" class="pc-hidden")

  section(class="sect intro-sect-cont03")
    div(class="sect-container")
      div(class="sect-content")
        img(src=`${imgPath}/sub/intro/page_intro_cont03_m.jpg`, alt="이미지" class="pc-hidden")
        img(src=`${imgPath}/sub/intro/page_intro_cont03.jpg`, alt="이미지" class="mobile-hidden")


  section(class="sect intro-sect-cont04")
    div(class="sect-container")
      div(class="sect-content")
        img(src=`${imgPath}/sub/intro/page_intro_cont04_m.jpg`, alt="이미지" class="pc-hidden")

  section(class="sect intro-sect-cont05")
    div(class="sect-container")
      div(class="sect-content")
        img(src=`${imgPath}/sub/intro/page_intro_cont05_m.jpg`, alt="이미지" class="pc-hidden")

  section(class="sect intro-sect-cont06")
    div(class="sect-container")
      div(class="sect-content")
        img(src=`${imgPath}/sub/intro/page_intro_cont06_m.jpg`, alt="이미지" class="pc-hidden")
//==교체 끝==