mixin snsicon(altName, imgPath, ahref="#none")
  li: a(href=ahref): img(src=imgPath alt="연결 "+altName)



footer.footer 
  div.footer-menu
    ul.footer-menu-ul
      li
        button(class="fn-open-modal-terms" type="button") 이용약관
      li
        button(class="fn-open-modal-agree" type="button") 개인정보 취급방침
  div.footer-logo
      img(src=`${imgPath}/common/logo_footer.png`, alt="로고")
  div.footer-info  
    div.copy-text-cont
      p (주)에이치오토 &nbsp;&nbsp;대표이사 : 이정환 &nbsp;&nbsp;fax: 02-6937-0689
      p 경기도 용인시 기흥구 기흥로58, b동 2101호 I 사업자등록번호 : 418-88-02279
      p 통신판매업신고번호 : 제 2021-용인기흥-2882
      p.copyright Copyright &copy careasy Corp. All rights reserved.
    div.footer-snsicon-cont
      ul.snsicon-ul
        +snsicon("카톡",`${imgPath}/common/icon_circle_katalk.png`)
        +snsicon("블로그",`${imgPath}/common/icon_circle_blog.png`)
        +snsicon("유뷰브",`${imgPath}/common/icon_circle_youtube.png`)
        +snsicon("인스타그램",`${imgPath}/common/icon_circle_instagram.png`)
        
        
        